/**************
   NAVIGATION
***************/
.stack-navigation {
	position:absolute;
	right:-10px;
	top:845px;
	width:41px;
	text-align:center;
	z-index:15;
	
	.upstream, .downstream {
		height:43px;
		text-indent:-999em;
		overflow:hidden;
	}
	
	.upstream {
		background: url('images/arrows.png') no-repeat 0 -48px;
		opacity:0.6;
		width: 27px;
		height: 24px;
		@include rotate(90deg);

		&:hover, &:focus {
			opacity: 1;
		}
		
		&:active {
			opacity:0.8;
		}
	}
	
	.downstream {
		background: url('images/arrows.png') no-repeat 0 0;
		opacity:0.6;
		width: 27px;
		height: 24px;
		@include rotate(90deg);
		
		&:hover, &:focus {
			opacity: 1;
		}
		
		&:active {
			opacity: 0.8;
		}
	}
	
	.num-found {
		font-size:15px;
		line-height:16px;
		padding-top: 15px;
		margin:8px 0;
		color:#333;
		text-shadow: 0 1px 0 #ddd;
		@include rotate(90deg);
	}
	
	&.empty .num-found {
		visibility:hidden;
	}
}